@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: beige;
}

/* ***Forms*** */
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
label {
  padding: 0.75em 0 0 0.5em;
}

option {
  padding-left: 2em;
  margin: 4em;
}

select {
  text-indent: 0.5em;
}

/*Login Form*/
.login-form {
  background-color: grey;
}

/*Form Page*/
.booking-form {
  background-color: blueviolet;
}
